.cimicine_title {
  color: #007c40;
  font-size: 60px;
  opacity: 0.87;
}
.cimicine_description {
  color: black;
  font-size: 15px;
  opacity: 0.54;
}
.cimicine {
  display: flex;
  margin-bottom: 24px;
}
.cimicineIcon {
  width: 128px;
}
.cimicine_img {
  position: absolute;
  filter: blur(4px);
  left: -100px;
}
.images {
  padding: 24px;
  display: flex;
  justify-content: center;
  /* background-color: black; */
}
.image {
  margin: 0 20px;
  border: 2px solid gray;
  border-radius: 10px;

  height: 240px;
}
