.title {
  font-size: 60px;
  opacity: 0.87;
}
.detail {
  margin-left: 8px;
  width: 80%;
}
.description {
  color: black;
  font-size: 15px;
  opacity: 0.54;
  margin-top: 8px;
}
.main {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.icon {
  width: 128px;
  height: 128px;
  object-fit: contain;
}
.images {
  padding: 24px;
  display: flex;
  /* justify-content: center; */
  /* background-color: black; */
  overflow: scroll;
}
.image {
  margin: 0 20px;
  border: 2px solid gray;
  border-radius: 10px;

  height: 240px;
}
