.card {
  border-radius: 20px;
  border: 1px solid lightgray;

  margin: 8px 0 16px;
  padding: 8px;
}
.title {
  font-size: 60px;
  opacity: 0.87;
}
.createdAt {
  font-size: 12px;
  color: gray;
  opacity: 0.54;
  font-weight: bold;
  margin: 0 0 10px 8px;
}
.iconSSP {
  display: none;
}
.titleAndCreatedAt {
  display: flex;
  align-items: flex-end;
}
.detail {
  margin-left: 8px;
  width: 80%;
}
.description {
  color: black;
  font-size: 15px;
  opacity: 0.54;
  margin: 8px;
}
.mediaSP {
  display: none;
}
.main {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.icon {
  width: 128px;
  height: 128px;
  object-fit: contain;
}
.images {
  padding: 24px;
  display: flex;
  justify-content: center;
  /* background-color: black; */
  overflow: scroll;
}
.image {
  margin: 0 20px;
  border: 2px solid gray;
  border-radius: 10px;

  height: 240px;
}
@media screen and (max-width: 780px) {
  .titleAndCreatedAt {
    flex-direction: column;
    align-items: initial;
  }
  .mediaSP {
    display: block;
  }
  .mediaPC {
    display: none;
  }
  .images {
    justify-content: left;
  }
}
@media screen and (max-width: 500px) {
  .icon {
    display: none;
  }
  .iconSSP {
    display: initial;
    width: 48px;
    height: 48px;
    object-fit: contain;

    margin-right: 16px;
  }
  .iconAndTitle {
    display: flex;
    align-items: center;
  }
  .title {
    font-size: 48px;
  }
}
