.app {
  /* background: linear-gradient(
    104.68deg,
    #dced73 0%,
    rgba(112, 234, 212, 0.3) 30.1%,
    rgba(245, 228, 166, 0.47) 68.37%,
    rgba(253, 148, 134, 0.29) 82.56%
  ); */
  background: linear-gradient(180deg, black 700px, white 1500px);
  padding: 24px;
  position: relative;
}
.githubBudge {
  display: block;
  margin-left: auto;
}
.icon {
  /* filter: blur(30px); */
  position: absolute;
}
/* .title {
  font-size: 34px;
  padding: 16px;
  margin-left: 16px;
  border-radius: 20px;
  border: 1px solid black;

  display: inline-block;
} */
.title {
  font-family: Knockout;
  font-size: 180px;
  line-height: 163px;
  text-align: right;
  color: white;
  font-weight: lighter;

  margin-top: 32px;
  /* text-shadow: gray 0 5px 10px; */
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  text-align: right;
  font-size: 14px;
  font-weight: bold;

  color: white;
  opacity: 0.7;

  padding: 0 0 40px 16px;
  margin-top: 24px;

  /* max-width: 50%; */
}
@media screen and (min-width: 1200px) {
  .app {
    padding: 24px 150px;
  }
  .icon {
    width: 500px;
    left: 150px;
  }
}
@media screen and (max-width: 750px) {
  .title {
    font-size: 100px;
    line-height: 0.9;

    margin-top: 250px;
    position: relative;
    left: 32px;
  }
}
@media screen and (max-width: 600px) {
  .icon {
    width: 400px;
    object-fit: contain;
    left: -150px;
    top: 100px;
  }
  .app {
    padding: 8px;
  }
}
