.app {
  /* background: #001324; */
  padding: 24px;
}
.githubBudge {
  display: block;
  margin-left: auto;
}
.logo {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
  background-color: black;
  padding: 8px;
}
/* .title {
  font-size: 34px;
  padding: 16px;
  margin-left: 16px;
  border-radius: 20px;
  border: 1px solid black;

  display: inline-block;
} */
.title {
  font-family: Knockout;
  font-size: 180px;
  line-height: 163px;
  text-align: center;
  font-weight: 300;
  color: black;
  opacity: 0.87;

  margin-top: 32px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  text-align: center;
  font-weight: bold;
  color: gray;
  padding: 0 100px;

  margin-top: 24px;
}
