.glassMorphism {
  /* background: rgba(255, 255, 255, 0.25); */
  box-shadow: 0 8px 64px 0 rgba(154, 160, 241, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  margin-bottom: 32px;
}
