.header {
  padding-top: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 50px;
}
.logo {
  height: 36px;
  width: 200px;
  object-fit: contain;
  cursor: pointer;

  transition: 0.3s;
}
.logo:hover {
  height: 40px;
}
.button {
  outline: none;
  border: none;
  background-color: white;

  font-family: "Oioi";
  font-size: 24px;

  cursor: pointer;

  padding: 2px;
  transition: 0.3s;
  border-bottom: 1px solid white;
}
.button:hover {
  font-size: 28px;
  border-bottom: 1px solid black;
}
