.glassMorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  padding: 16px;
  margin: 16px;
}
.profile {
  display: flex;
}
.snsIconContainer {
  display: flex;
  flex-direction: column;

  margin: 0 16px;
}
.profileContainer {
  display: flex;
}
.whoami_title {
  font-family: Knockout;
  color: #3c424f;
  font-size: 40px;
}
.whoami_p {
  /* font-weight: bold;
    color: gray; */
}
