.glassMorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  padding: 16px;
  margin: 16px;
}
.profile {
  display: flex;
}
.snsIconContainer {
  margin: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: unset;
}

.title {
  font-family: Knockout;
  color: white;
  font-size: 60px;
}
.description {
  font-weight: bold;
  color: white;
  opacity: 0.87;

  margin-top: 16px;
}
/* .twitterLink {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;

  padding: 4px;
} */
